*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    height: 95vh;
    width: auto;
    padding: 0;
}

body {
    min-height: 95vh;
    min-width: auto;
    padding: 0;
}


.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    margin-bottom: 10px;
    height: 80px;
    background-color: rgb(218, 218, 218);

}

.topbar {
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    padding: 2px;
}

.logo-logo {
    margin: 2px;
}

.topbar-options {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;

    width: 83%;
}

.sidebar {
    display: flex;
    min-width: 180px;
    width: 15%;

    justify-content: center;
    border-radius: 5px;
    background-color: rgb(68, 68, 68);
    color: rgb(212, 212, 212);
    box-shadow: 0 3px 8px 1px gray;
    padding-top: 30px;
}

.sidebar-menu {
    margin-top: 50px;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    overflow: hidden;
    height: auto;
    width: 85%;
    padding: 2px;
    background-color: rgb(247, 247, 247);


}

.main-home {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 85%;
    padding: 2px;
    background-color: rgb(247, 247, 247);

}

.sidebar-main-content {
    display: flex;
    justify-content: center;
    height: auto;
    min-height: 84vh;


}

.footer {
    font-size: small;
    color: grey;
    display: flex;
    padding: 2px;
    justify-content: center;
    justify-items: center;
    height: 5%;
    margin-top: 10px;
    background-color: rgb(240, 240, 240);
    box-shadow: 0 3px 8px 1px rgb(219, 219, 219);
}

hr {
    color: rgb(236, 236, 236);
}

ul {
    list-style: none;
}

li {
    margin: 9px;
}

.search {
    width: 250px;

    border-radius: 4px;
    border: solid 1px rgb(189, 190, 190);
    box-shadow: 3px 3px 8px 1px rgb(185, 185, 185);
}

input:active,
input:focus {
    outline: none;
    border: 1px solid rgba(206, 152, 0, 0.8);
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

.search-button {
    height: 30px;
    width: 30px;
    border-collapse: collapse;
    outline: none;
    border: none;
    background-image: url("/resources/pictures/search.svg");
    filter: invert(5);
    background-repeat: no-repeat;
    background-size: 17px;
    background-position: center;
    box-shadow: 3px 3px 8px 1px rgb(151, 151, 151);
    border-radius: 4px;
    background-color: rgb(185, 184, 184);
    cursor: pointer;
}

.search-button:hover {
    background-size: 18px;
    background-color: rgb(163, 163, 163);
}

.search-button:active {
    background-size: 20px;
}

.form {
    display: inline-flex;
}


.logo-title {
    display: flex;
    align-items: center;
    text-decoration: none;
    opacity: 0.8;

}

.logo-title:hover {
    cursor: pointer;
}

.title {
    text-align: left;
    color: rgb(48, 48, 48);
    font-size: large !important;
    font-weight: bolder;
    text-shadow: 3px 3px 5px rgb(117, 117, 117);
    margin-left: 5px;


}

.search-box {
    margin-left: 10px;
    margin-right: 10px;
    height: 35px;

}

.user {
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    height: 25px;
}

.nav-item {
    margin-top: 30px;
}

.nav-link {
    color: white;
    text-decoration: unset;
}

.nav-link:hover {
    font-weight: bold;
}

hr {
    width: 95%;
    margin: 10px;
    border-top: 1px solid rgba(239, 175, 0, 0.8);
}

ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.collapsible {
    background: transparent;
    border: none !important;
    cursor: pointer;
    font-size: medium;
    font-weight: bold;
    color: rgb(120, 120, 120);
    z-index: 20;
}

.collapsible:hover {
    color: rgb(40, 40, 40);
}

#user-overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scale(0);
}

#user-overlay.active {
    opacity: 1;
    transform: scale(1);
    pointer-events: all;
}

.content {
    position: absolute;
    display: flex;
    justify-content: right;
    margin-top: 70px;
    font-size: large;
    width: 120px;
    z-index: 20;
    background-color: rgb(255, 255, 255);

    border-radius: 5px;
    box-shadow: 0 0 3px #868686;

}

.list-user {
    text-decoration: none;
    color: rgb(44, 44, 44);
}

.list-user:hover {
    font-weight: bold;
    cursor: pointer;
}

.collapsible:after {
    /*content: "\02795"; !* Unicode character for "plus" sign (+) *!*/
    font-size: 7px;
    float: right;
    margin-left: 10px;
    margin-top: 7px;
}

.active:after {
    /*content: "\2796"; !* Unicode character for "minus" sign (-) *!*/
}

.content-content {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    height: auto;
    max-height: 800px;
    padding: 5px;

}

.content-title {
    height: 30px;
    width: 95%;
    text-align: left;
    float: left;
    margin-left: 50px;
    margin-top: 30px;
    padding: 5px;
    font-size: large;
    font-weight: bold;
    color: #494949;

}

.content-elements {
    width: 94%;
    height: auto;
    display: flex;
    flex-wrap: wrap;

}

.card {
    padding: 5px;
    width: 165px;
    height: 250px;
    margin: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.cover-pic {
    margin: 3px;
    display: flex;
    justify-content: center;
    box-shadow: 5px 5px 8px 1px rgb(133, 133, 133);
}

.card-title {
    margin: 3px 3px 10px;
    text-align: center;
    text-decoration: none;
    color: rgb(54, 54, 54);
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #494949;
    font-weight: bold;


}

.card-options {
    margin: 10px 3px 3px;
    height: 20px;
    display: inline-flex;
    justify-content: center;
    padding: 3px;
}

.option {
    margin: 10px;
    color: rgb(48, 48, 48);
    text-decoration: none !important;
    font-weight: bold;
    border-collapse: collapse;
    border: none;
}

.add {
    color: green;

}

.add:hover {
    color: rgb(31, 92, 31);
}

.add:active {
    color: rgb(31, 92, 31);
    font-size: large;
}

.delete {
    color: rgb(212, 0, 0);
}

.delete:active {
    font-size: large;
    color: rgb(136, 0, 0);
}

.delete:hover {
    color: rgb(136, 0, 0);
}

/* styling pop up window modal */

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transition: 200ms step-end;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 9px;
    z-index: 99;
    background-color: rgb(223, 223, 223);
    width: 500px;
    height: 600px;
    max-width: 80%;
    min-height: 65%;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(54, 54, 54);
    border-radius: 9px;
    border-bottom: 3px solid rgba(255, 187, 34, 0.79);
}

.form-title {
    width: 500px;
    padding: 5px;
    font-size: 1.25rem;
    font-weight: bold;
    text-decoration: none;
    color: rgb(232, 232, 232);
}

.modal-header .close-button {
    color: rgb(232, 232, 232);
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body {
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #575757;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

/* end of styling pop up window modal */

.sidebar-link {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    color: white;
    font-size: large;
}

.sidebar-link:hover {
    font-weight: bold;
}

.form-register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-form {
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;

}

.input {
    font-size: medium;
    margin-top: 30px;
    width: 300px;
    height: 35px;
    border: 1px solid rgb(163, 163, 163);
    border-radius: 4px;

}

.button-register {
    margin: 20px 20px 20px;
    padding: 10px;
    width: 150px;
    background-color: rgb(143, 221, 211);
    border: 1px solid rgb(163, 163, 163);
    border-radius: 4px;
    cursor: pointer;
    color: rgb(51, 51, 51);
}

.button-register:hover {
    background-color: aquamarine;
}

.button-register:active {
    font-weight: bold;
}

.modal-login {
    min-height: 380px;
    height: 380px;
}

.modal-contact {
    min-height: 440px;
    height: 440px;
}

.contact-description {
    text-align: center;
    font-size: x-large;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.google {
    color: white;
    text-decoration: none;
    font-weight: bold;
    background-color: rgb(199, 42, 42);
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: none;
}

.google:hover {
    cursor: pointer;
}

.markus-contact {
    text-align: center;
    color: rgb(80, 80, 80);

}

.markus-contact hr {
    width: 100%;
}

.markus-social {
    margin-top: 30px;
    margin-bottom: 500px;
    display: flex;
    justify-content: space-evenly;
}

.modal-about {
    min-height: 600px;
    height: 600px;
    color: rgb(54, 54, 54);
}

.about-logo {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

.list-user-button {
    background: none;
    border: none;
    outline: none;
    text-decoration: none;
    font-size: medium;
    color: rgb(120, 120, 120);
    font-weight: bold;

}

.list-user-button:hover {
    color: rgb(40, 40, 40);
    cursor: pointer;
}

.list-user-button:active {
    font-size: large;
}

.register-box {
    height: 80%;
    display: flex;
    width: 95%;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
}


.cover {
    width: 40%;
    height: 90%;
    opacity: 0.7;
    box-shadow: 5px 5px 8px 1px rgb(133, 133, 133);

}

.markus-error {

    color: darkred;
    font-size: small;
    padding: 3px;
    text-align: left;
    min-height: 50px;
    z-index: 55;
}

.error-input {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    min-width: 300px;
    max-width: 300px;
    min-height: 90px;
    margin-bottom: 10px;


}

.input-login {
    margin: 20px;
    font-size: medium;
    width: 300px;
    height: 40px;
    border: 1px solid rgb(163, 163, 163);
    border-radius: 4px;
}

.select-box {
    border: solid 0px white;
    background-color: rgb(218, 218, 218);
    color: rgb(120, 120, 120);
    font-weight: bold;
    width: 90px;
    font-size: small;

}

.select-box:hover {
    color: rgb(40, 40, 40);
    cursor: pointer;

}


.list-user-button-small {
    background: none;
    border: none;
    outline: none;
    text-decoration: none;
    font-size: small;
    color: rgb(120, 120, 120);
    font-weight: bold;

}

.list-user-button-small:hover {
    color: rgb(40, 40, 40);
    cursor: pointer;
}

.list-user-button-small:active {
    font-size: medium;
}


.sidebar-main-content {
    background-color: rgb(247, 247, 247);
}

.menu {
    background-color: #4d4d4d;
    height: 5%;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.inner-menu {
    display: flex;
    justify-content: space-evenly;
    height: 90%;
    width: 70%;
}

.menu-button {
    border-collapse: collapse;
    border: none;
    outline: none;
    background-color: #4d4d4d;

}

.menu-button-link:hover {
    color: rgba(255, 202, 49, 0.79);
    cursor: pointer;
}

.menu-button-link:active {
    font-size: large;
}

.menu-button-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: medium;
    border-collapse: collapse;
    border: none;
    background-color: transparent;

}

.thumbs-description {

    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.error-message {

    color: darkred;
    font-size: small;
    padding: 3px;
    display: none;
}

.pagination {

    height: 20px;
    width: 500px;
    float: right;
    margin-right: 50px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-evenly;
}

.pag-align {
    margin: 5px;

    width: 100%;
}

.pagInfo {
    color: #5e5e5e;
    font-size: small;
    margin-top: 2px;
}


.pagButton {
    font-size: large;
    font-weight: bolder;
    border: none;
    background-color: transparent;
    color: #2c6fa8;
    text-decoration: none;
}

.pagButton:hover {
    cursor: pointer;
    color: #be8700;
}

.pagSelect {
    border: none;
    background-color: transparent;
    color: #5e5e5e;

}

.pagButtons {
    display: flex;
    justify-content: space-evenly;
    width: 300px;
}

.pageInfo {
    margin-top: 2px;
    color: #5e5e5e;
    font-size: small;
}

.pagButtonDisabled {
    cursor: auto;
    color: #8a8a8a;
    text-decoration: none;
}

.error-info {
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
    align-items: center;

    font-size: x-large;
    font-weight: bold;
    text-align: center;
    color: #595959;
    line-height: 1.5em;
    width: 300px;
    padding: 30px 30px 70px;
}

.pass-forgot {
    color: #494949;
    margin-top: 40%;
    text-decoration: none;
}

.pass-forgot:hover {
    cursor: pointer;
    color: blue;
}

.pass-forgot:active {
    font-weight: bold;

}

.email-reminder {

    padding: 30px;
    margin: 75px 10px 75px;
    width: 300px;
    height: 500px;

}

.email-message {
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    margin-top: -50px;
    color: #595959;


}

.password-update {

    padding: 30px;
    margin: 75px 10px 75px;
    width: 300px;
    height: 500px;
}

.list-element {
    float: left;


}

.list-link {
    text-decoration: none;
    text-align: right;
    color: #414141;
    border: none;
    outline: none;
    background-color: white;
    font-size: medium;

}

.list-link:hover {
    cursor: pointer;
    font-weight: bold;

}

.list-link:active {
    color: blue;
}

.markus-login-register {
    background: none;
    border: none;
    outline: none;
    text-decoration: none;
    font-size: medium;
    margin-right: 15px;
    color: rgb(63, 63, 63);
    cursor: pointer;
    font-weight: bold;

}

.markus-login-register:hover {
    color: rgb(40, 40, 40);
    cursor: pointer;
}

.markus-login-register:active {
    font-size: large;
}

.input-logout {

    border: none;
    outline: none;
    text-decoration: none;
    text-align: right;
    color: #414141;
    background-color: white;
    font-size: medium;
}

.input-logout:hover {
    font-weight: bold;
    cursor: pointer;
}

.input-logout:active,
.input-logout:focus {
    border: none;
    outline: none;
    text-decoration: none;
    color: blue;
    background-color: white;
    font-size: medium;
}

.card-body {
    width: 100%;
}

td {
    text-align: center;
    height: 40px;
}

th {
    height: 50px;
    background-color: #cbcbcb;
    min-width: 40px;
}

.markus-inline {

    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    margin: 10px;


}

.radiobutton {
    margin: 10px;

}

.login-page {

    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    margin-top: 50px;

}

.users-pic {
    margin-top: 50px;
    width: 60%;
    height: 100%;
}

/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 60px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 10px;

}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 6px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #ccc;

}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #b2e2ff;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.title {

    text-decoration: none;
    text-shadow: none;
    font-size: large;
}

.markus-info-pic {

    display: flex;
    flex-direction: row;
    padding: 5px;
    justify-content: space-evenly;

}

.markus-info {
    margin: 20px 15px 0px 15px;
    display: flex;
    flex-direction: row;
    padding: 5px;
    justify-content: space-between;
    background-color: rgba(224, 224, 224, 0.44);
}

.pictures, .album-details {
    padding: 10px;
}

.album-details-title {
    text-align: center;
    vertical-align: center;
    font-size: larger;
    font-weight: bold;
    color: #414141;
    margin: 10px;
    width: 100%;
    background-color: rgba(232, 212, 165, 0.59);
    padding: 5px;


}

.details-element {
    font-size: x-large;
    color: #4d4d4d;

}

.tracks {
    padding: 10px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;;
}

.tracklist-table {
    width: 100%;
    margin: 10px;
}

.tracklist-table tr {
    background-color: rgba(224, 224, 224, 0.44);
    font-size: larger;
    color: #4d4d4d;

}

.album-options {

    padding: 5px;
    margin: 5px 30px 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;


}

.butt {
    background-color: rgba(208, 208, 208, 0.65);
    padding: 5px;
    margin: 5px;
    height: 35px;
    width: 100px;
    border-radius: 6px;
    font-weight: bolder;
    font-size: larger;
    box-shadow: 2px 2px 2px rgba(166, 166, 166, 0.84);

}

.butt:active {
    box-shadow: none;
}

.add-button {

    text-align: center;
    text-decoration: none;
    background-color: rgb(66, 168, 77);
    color: white;
}

.add-button:hover {
    background-color: rgb(52, 131, 59);
}

.delete-button {

    text-align: center;
    text-decoration: none;
    background-color: rgb(222, 81, 67);
    color: white;
}

.delete-button:hover {
    background-color: rgb(171, 68, 50);
}

.bold-description {
    font-weight: bold;
    display: inline-flex;
    color: #505050;

}

.album-details {
    line-height: 35px;

}

.album-link {
    color: #414141;
    text-decoration: none;
}

.album-link:hover {
    color: rgba(0, 0, 255, 0.76);
}

.album-link:active {
    color: black;
}

.add-remove {
    background: transparent;
    cursor: pointer;
    z-index: 30;


}

.add-remove-content {
    position: absolute;
    justify-content: center;
    background-color: #4d4d4d;
    padding: 10px;
    margin-top: 20px;
    margin-left: -25px;
    font-size: large;
    width: 120px;
    z-index: 20;
    border-radius: 3px;
}

.modal-body-addPlaylist {
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    color: #575757;
}

.modal-addPlaylist {
    height: 650px;
    width: 500px;
}

.songs-button-link {
    color: #018c01;
    text-decoration: none;
    font-weight: bold;
    font-size: medium;
    border-collapse: collapse;
    border: none;
    background-color: transparent;
}

.songs-button-link:hover {
    cursor: pointer;
    color: #015901;
}

.songs-button-link:active {

    color: #003d00;
}

.add-to-playlist {

    width: 100%;
    height: 370px;
    overflow: scroll;

}

.add-to-playlist-form {

    margin: 2px;
    overflow: scroll;
}

.button-add {
    text-decoration: none;
    font-size: medium;
    display: flex;
    justify-content: center;
    justify-items: center;
    border-collapse: collapse;
    border: solid #727171 1px;
    color: #414141;
    margin-top: 10px;
    margin-left: 2px;
    border-radius: 3px;
    background-color: #e0a62e;
    height: 30px;
    width: 300px;

}

.checkboxes {
    height: 25px;
    width: 25px;
    margin: 7px;


}

.playlists-list {
    height: 380px;
    overflow: scroll;

}

.songs-button-link-delete {
    color: rgba(208, 24, 0, 0.88);
    text-decoration: none;
    font-weight: bold;
    font-size: medium;
    border-collapse: collapse;
    border: none;
    background-color: transparent;
}

.songs-button-link-delete:hover {
    cursor: pointer;
    color: rgba(154, 14, 1, 0.92);
}

.songs-button-link-delete:active {

    color: rgba(70, 12, 1, 0.91);
}

.arrow-span {
    font-size: x-large;
    color: black;
}

.logo-blurred {
    opacity: 75%;
    display: flex;

}

.info-page-message {
    margin-bottom: 60px;
}

.continue-button {
    color: #4d4d4d;
    font-size: medium;
    text-decoration: none;
    margin-top: 5px
}

.continue-button:hover {
    font-weight: bold;
}

.continue-button:active {
    background-color: #8c7725;
}

.modal-warning {
    min-height: 100px;
    height: 300px;
}

.warning-description {
    width: 400px;
    text-align: center;
    font-size: x-large;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-add:hover {
    font-weight: bold;
}

.button-add:active {
    background-color: #c9991f;
    font-weight: bold;
}

.description-main {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgb(247, 247, 247);

}

.description-album {
    padding: 5px;
    display: flex;
    height: 40%;
    align-items: center;
    margin: 20px;
}

.paragraph {

    color: #525252;
    text-align: left;
    font-size: larger;
    padding: 5px 15px 5px 15px;
    width: 40%;

}

.markus-paragraph {
    color: #525252;
    text-align: left;
    font-size: larger;
    padding: 5px 15px 5px 15px;

}

.text-description {
    font-weight: bold;
}

.img-details {
    height: 100%;
    width: 100%;
}

.img-box {

    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.35);;
    border-radius: 4px;
    height: 100%;
    width: 60%;
}

.title-main {
    font-size: 90px;
    margin-left: 10px;
    text-align: left;
    color: rgb(48, 48, 48);
    font-weight: bolder;
    text-shadow: 3px 3px 5px rgb(117, 117, 117);
}

.element-name {
    text-align: center;
    color: #525252;
    font-size: larger;
}

.content-element {
    padding: 5px;
    margin-top: 5px;
    margin-left: 30px;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    background-color: #f3e1c6;
}

.contact {
    text-align: center;
    color: #4d4d4d;
}

.markus-input {

    margin: 20px;
    height: 30px;
    width: 300px;
}

.markus-text {
    height: 90px;
    width: 500px;
    margin: 20px 20px 50px;
}